venv/
__pycache__/
*.pyc
.env
.env.local
instance/
*.db

node_modules/
.next/
out/
frontend/.env*.local

.vscode/
.idea/
*.log

# Copyrighted textbook source material and anything derived from it -
# never commit these to git.
/folder/
backend/data/
